<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
		<% if (cartItemList.length > 0) {%> 
			<ul class="cart-list">
				<% cartItemList.forEach(element => { %>
					<li>
						<p><%= element.productID.title %></p>
						<p>Quantity: <%= element.quantity %></p>
						<form action="/cart-delete-item" method="POST">
							<input type="hidden" value="<%= element.productID._id %>" name="productID">
							<button class="btn" type="submit">DELETE</button>
						</form>
					</li>
					
				<% }); %>
			</ul> 
			<div class="centered">
				<form action="/create-order" method="POST">
					<button type="submit" class="btn">Order Now!</button>
				</form> 
			</div>
		<% } else { %>
			<h1>Cart is currently empty</h1>
		<% } %>  
        </main>
        <%- include('../includes/end.ejs') %>