<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="centered product-detail-container">
                <h3> <%= prod.title %>  </h3>
                <hr>
                <img src="<%= prod.imgURL %> " alt="">
                <h5><%= prod.price %></h5>
                <p><%= prod.desc  %></p>
                <div class="card__actions">
                    <form action="/cart" method="post">
                        <button class="btn" type="submit">Add to Cart</button>
                        <input type="hidden" name="prodID" value="<%= prod.id  %> ">
                    </form>
                </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>